.container{
  display: flex;
  flex-direction: column;
}

.container .header{
  display: flex;
}

ul li{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding:  0 0 0.5rem 1rem;
  gap: 0.5rem;
}
